.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.tableModal{
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 50%;
  transform: translate(-50%, -50%);
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: white;
}
.closetable {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closetable:hover,
.closetable:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Content */
.modal-content {
  background: #373d42;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

legend,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: #fff;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

[placeholder]::-webkit-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-webkit-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

[placeholder]::-moz-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-moz-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-moz-placeholder { color: transparent; }

[placeholder]:-ms-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover:-ms-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus:-ms-input-placeholder { color: transparent; }

form {
  width: 400px;
  margin: 50px auto;
  color: white;
}

input[type="text"] {
  display: block;
  width: 400px;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid white;
  background: rgba(0,0,0,.25);
}

textarea {
  display: block;
  width: 400px;
  height: 150px;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid white;
  background: white;
}

.radio {
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0;
}

.radio input[type="radio"] {
  vertical-align: middle;
  opacity: 0;
}

.radio label {
  vertical-align: middle;
  cursor: pointer;
}

.radio input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -3px 5px 0 -15px;
  vertical-align: middle;
  font-size: 14px;
  font-family: fontawesome;
  line-height: 19px;
  text-align: center;
  border: 1px solid white;
  background: rgba(0,0,0,.25);
}

.radio input[type="radio"] + label:before {
  border-radius: 50%;
}

.radio input[type="radio"]:hover + label:before {
  content: '\f111';
  font-size: 9px;
  color: rgba(255,255,255,.4);
}

.radio input[type="radio"]:checked + label:before {
  content: '\f111';
  font-size: 9px;
  color: rgba(255,255,255,.8);
}

.radio .sex {
  font: 20px fontawesome;
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

textarea {
  color: orange;
  border:2px solid white;
  background: black;

}
input[type="reset"] {
  display: block;
  width: 150px;
  margin: 0 0 20px;
  padding: 8px 0 10px 0;
  text-align: center;
  border: 1px solid white;
  background: transparent;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  .search {
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: relative;
      display: flex;
      top:45px;
      left: 43px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: relative;
      display: flex;
      top:23px;
      left: 23px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  .but_rate {
    width: 100px;
    height: 60px;
    // box-shadow: crimson;
    color: transparent;
    border :black;
    background: transparent;
    border-radius: 25%;
    transition: all 1s;
    z-index: 4;
    // box-shadow: 0 0 50px 0 crimson;
  }
  .but_check {
    width: 100px;
    height: 60px;
    // box-shadow: crimson;
    color: transparent;
    border :black;
    background: transparent;
    border-radius: 25%;
    transition: all 1s;
    z-index: 4;
    // box-shadow: 0 0 50px 0 crimson;
  }

  input {
    font-family: 'Inconsolata', monospace;
    position: relative;
    display: flex;
    //margin: auto;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    /* // border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    /* // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      left:220px;
      background: #151515;
      z-index: 6;
      &::before {
        position: relative;
        display: flex;
        top:38px;
        left: 26px;
        height: 2px;
        width: 25px;
      }     
      &::after {
        position: relative;
        display: flex;
        top:36px;
        left: 26px;
        width: 12px;
        height: 2px;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &:focus ~ .but_rate {
      width: 100px;
      height: 60px;
      box-shadow: crimson;
      color: white;
      border :black;
      background: crimson;
      border-radius: 25%;
      transition: all 1s;
      z-index: 4;
      box-shadow: 0 0 50px 0 crimson;
    }
    &:focus ~ .but_check {
      margin-left:15px ;
      width: 100px;
      height: 60px;
      box-shadow: crimson;
      color: white;
      border :black;
      background: crimson;
      border-radius: 25%;
      transition: all 1s;
      z-index: 4;
      box-shadow: 0 0 50px 0 crimson;
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}

//Fake News Box
.fake_box{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: auto; /* Full height */
}
.fake_prompt_box{
  
  font-family: monospace;
  font-size: 20px;
  height: 300vh;
  width: 100%;
}

.AnsButton{
  background: skyblue;
  color: white;
  padding: .5em 1em;
  border-radius: 4px;
}


dialog{
  max-width: 1000px;
  top: 10%;
  left:20%;
  width: auto;
  text-align: center;
  display: block;
}
::ng-deep .snackbar_right{
	background: darkgreen;
	color: white;
}
::ng-deep .snackbar_wrong{
  background:red;
  color: white;
}
::ng-deep .snackbar_waiting{
  background:blue;
  color: white;
}